@font-face {
    font-family: "NorseBold";
    src: url("Norse-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;
    border: 1px solid red;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: contain;
}

#title-container {
    display: flex;
    border: 1px solid red;
    height: 200px;
    justify-content: center;
    align-items: center;
}

img {
    height: 125px;
    width: 100px;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: "NorseBold";
}

#left-container p {
    color: white;
}

#right-container {
    width: 65%;
    height: 100vh;
    border: 1px solid red;
}