* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#left-container {
    width: 35%;
    height: 100vh;
    border: 1px solid red;
}

#right-container {
    width: 65%;
    height: 100vh;
    border: 1px solid red;
}